{% extends "base.html" %}
{% block app_content %}
<h1>Some Books I've Read</h1>

<body><font size='4'>
    Around the summer of 2016, I saw my bookcase and realized I hadn't <i>actually</i>
    read ~70% of
    my books. I had read some, started others, and hadn't even opened most of them.
    I decided I wouldn't buy another book until I had read all the
    ones I already owned. I managed to do that, and then kept going. Here is
    a list of those books:
  </br>
</br>
  <hr>
  <h3>Science</h3>

   Life 3.0 - <i>Max Tegmark</i> </br>
   Our Mathematical Universe - <i>Max Tegmark</i> </br>
   Rythms Of The Brain - <i>Gyorgy Buzsaki</i> </br>
   Deep Thinking - <i>Garry Kasparov</i></br>
   The Origin of Consciousness In The Breakdown Of The Bicameral Mind -
   <i>Julian Jaynes</i> </br>
   Tubes - <i>Andrew Blum</i> </br>
   Collins Mushroom Miscellany - <i>Patrick Harding</i> </br>
   Surely You're Joking, Mr. Feynman! - <i>Richard P. Feynman</i> </br>
   Delusions of Gender - <i>Cordelia Fine</i> </br>
   What is Life? - <i>Erwin Schrödinger</i> </br>
   Gödel, Escher, Bach - <i>Douglas R. Hofstadter</i> </br>
   Recollections Of My Life - <i>Santiago Ramon y Cajal</i> </br>
   Advice For A Young Investigator - <i> Santiago Ramon y Cajal </i> </br>
   The Emperor Of Maladies - <i>Siddhartha Mukherjee</i> </br>
   Descartes' Error - <i>Antonio Damasio</i></br>
   Saving Normal - <i>Allen Frances</i> </br>
   Lost Connections - <i>Johann Hari</i> </br>
   The Art of Psychotherapy - <i>Anthony Storr</i> </br>
   Cosmic Serpent - DNA and the Origins of Knowledge - <i>Jeremy Narby</i> </br>
   Hallucinations - <i>Oliver Sacks</i> </br>
   Biomimicry - <i>Janine M. Benyus</i> </br>
   Anthill - <i>E.O. Wilson</i> </br>
   Permanent Present Tense - <i>Suzanne Corkin</i> </br>

   <h3>History And Politics</h3>

   People's History of the United States - <i>Howard Zinn</i> </br>
   This Changes Everything - <i>Naomi Klein</i> </br>
   Manufacturing Consent - <i>Noam Chomsky</i> </br>
   Deterring Democracy - <i>Noam Chomsky</i> </br>
   Nature, Choice, and Social Power - <i>Erica Schoenberger</i> </br>
   A Short History of the French Revolution - <i>Albert Soboul</i> </br>
   The Politics of Heroin - <i> Alfred W. McCoy</i> </br>
   Utopia For Realists - <i>Rutger Bregman</i> </br>
   La Gran Estrategia - <i>Abel Enrique Gonzalez Santamaria</i> </br>
   Hope in the Dark - <i>Rebecca Solnit</i> </br>



  <h3>Literature and Philosophy</h3>
    Don Quijote De La Mancha - <i>Miguel de Cervantes</i> </br>
    The Castle - <i>Franz Kafka</i> </br>
    The Trial - <i>Franz Kafka</i> </br>
    The Foundations of Mindfulness - <i>Eric Harrison</i> </br>
    The Duel And Other Stories - <i>Anton Chekhov</i> </br>
    Six Simple Rules - <i>Morieux/Tollman</i> </br>
    The Power Of Your Subconsious Mind - <i>Joseph Murphy</i> </br>
    The Sirens Of Titan - <i>Kurt Vonnegut</i> </br>
    Slaughterhouse-Five - <i>Kurt Vonnegut</i> </br>
    The Year of Magical Thinking - <i>Joan Didion</i> </br>
    Barrabas - <i>Pär Lagerkvist</i> </br>
    Existentialism & Humanism - <i>Jean-Paul Sartre</i> </br>
    L'Etranger - <i>Albert Camus</i> </br>
    The Lonely City - <i>Olivia Laing</i> </br>
    Ilona Llega Con La Lluvia - <i>Álvaro Mutis</i> </br>
    Tríptico De Mar y Tierra - <i>Álvaro Mutis</i> </br>
    El Laberinto De La Soledad - <i>Octavio Paz</i> </br>
    The Plague of Fantasies - <i>Slavoj Zizek</i> </br>
    La Casa De Los Espiritus - <i>Isabel Allende</i> </br>
    Mi Pais Inventado - <i>Isabel Allende</i> </br>
    Zen and The Art of Motorcycle Maintenance - <i>Robert M. Prisig</i> </br>
    The Doors of Perception - <i>Aldous Huxley</i> </br>
    Thelonius Monk - <i>Robin D.G. Kelley</i> </br>
    Oceano Mar - <i>Alessandro Barrico</i> </br>
    On The Road - <i>Jack Kerouac</i> </br>
    Las Cartas De La Ayahuasca - <i>Burroughs/Ginsberg</i> </br>
    Ficciones - <i>Jorge Luis Borges</i> </br>
    Estrella Distante - <i>Roberto Bolaño</i> </br>
    Hell's Angels - <i>Hunter S. Thompson</i> </br>
    Fear and Loathing in Las Vegas - <i>Hunter S. Thompson</i> </br>
    Fear and Loathing on the Campaign Trail '72 -<i>Hunter S. Thompson</i></br>
    Songs Of The Doomed - <i>Hunter S. Thompson</i> </br>
    The Rum Diary - <i>Hunter S. Thompson</i> </br>
    The Bluest Eye - <i>Toni Morrison</i> </br>
    Los Jefes - <i>Mario Vargas Llosa</i> </br></br>

    <hr>

    I found that reading, like anything, gets better with practice. It becomes
    easier to focus for a long time, to remember more details about what you're
    reading, and to have the patience to finish a longer book. It's a habit I'm
    happy I acquired, and now I don't dread a commute, I just see it as reading
    time.
  </font>
</body>
  </br></br></br></br>
<div id="disqus_thread"></div>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/

var disqus_config = function () {
this.page.url = www.pablo-g-martin.com/books;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = www.pablo-g-martin.com/books; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};

(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://pablomartin.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

{% endblock %}
