{% extends "base.html" %}
{% block app_content %}
<h1>Contact</h1>


<hr>

<font size='4'><p>


</p></font>
<font size='4'><p>
  Feel free to get in touch. If you enjoyed any of the projects described, I am happy
  to talk about them in more detail if you are interested in doing something similar.
  You can send me an e-mail at: pablo.martin.yevenes@gmail.com
  </br></br>
LinkedIn <a href="https://www.linkedin.com/in/pablo-martin-388a7135/">here</a>.</br>
Github <a href="https://github.com/pablo-martin">here</a>.</br>
Resume as <a href="{{ url_for('static', filename="Resume.pdf") }}">PDF</a>.</br>


Other Interests:
  Soccer,
  <a href="https://soundcloud.com/control-14">Music</a>,
  Electronics,
  <a href="https://lichess.org/@/elektrochose">Chess</a>,
  Long Distance Running
</br></br>

</font>



{% endblock %}
