{% extends "base.html" %}
{% block app_content %}
<h2> About Me</h2>
  <font size='4'><p>
  My name is Pablo Martin.
  I did my PhD in neuroscience, where I spent
  a few years
  dissecting the brain circuits that allow us to learn, and "learn to relearn",
  in a dynamic environment. I was
  most interested in separating different learning systems, pinning them to
  specific brain structures, and figuring out how they orchestrate to provide
  organisms with flexible learning.
  Before that I got a degree in math, but was looking for an exciting field
  in which to apply the tools that I learned.
  Now my interest has shifted towards machine learning and AI, which I see as
  a great intersection of many things that I love, at a very interesting time
  for the field as well. This webpage will document the projects outside of my
  graduate work that I like to spend time on.
</p></font>
{% endblock %}
